body {
  margin: 0;
  height: 100%;
  background-color: #F1F1F1;
}
.container {
	height: 100%;
}

.info {
	padding-top: 30px;
	background-color: #C9CACC;
}
.info img {
	width: 200px;
}
.info h3 {
	font-weight:bold;
}
.info h4 {
	line-height: 2em;
}
.info .row {
	margin: 0;
}
.info .row > div {
	padding: 5px;
	border-top: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	height: 80px;
}
.info .row > div:last-child {
	border-right: none;
}
.info .row > div {
	font-size: 2em;
}
.info .row > div p span{
	display: block;
	font-size: 0.4em;
	color: #333333;
}

.nav {
	background-color: #E2E4E5;
}
.nav ul li {
	padding-left: 15px;
	line-height: 52px;
	border-bottom: 1px solid #C4C4C4;
	font-size: 1.2em;
}

.content {
	padding: 30px 0;
}
.content p {
	line-height: 1.8em;
}
.content ul li {
	line-height: 1.8em;
}
.content ul li span {
	display: inline-block;
	width: 100px;
}